# Ignore Eclipse / CubeIDE files
.cproject
.project
.settings/
.mxproject

# Ignore VS Code files
.vscode/*

# Ignore Build Artifacts
build/
*.o
*.d
*.su
*.elf
*.bin
*.hex
*.map
*.lst

libs/libDaisy/build/
libs/DaisySP/build/

!.vscode/tasks.json
!.vscode/c_cpp_properties.json
!.vscode/launch.json

.DS_Store
Thumbs.db
ehthumbs.db